.LeftPane{
    border:1px solid black;
}

.LeftPane button{
    width:100%;
    padding:10px;
    margin:0;
    background-color: #555555;
    color:white;
    font-size:15px;

}

.LeftPane button:hover{
    background-color: black;

}

.active{
    text-decoration: underline;
    background-color: black;
    font-weight:800;
}

.LeftPane p{
    margin:0;
    padding:0;
}

.active{
    text-decoration: underline;
}