.Rightpane{
    border:1px solid black;
}

.mail{
    height:50px;
    box-sizing: border-box;
    margin:5px;
    padding:0;
}

.item{
    display:grid;
    grid-template-columns: 40% 60%;
    padding:10px;
}

.left{
    text-align: left;
}

.right{
    text-align:left;
    text-transform: capitalize;
}

.message{
    display:none;
    text-align: left;
    background-color: rgb(250,250,250);
    min-height:60px;
    box-sizing: border-box;
    padding:10px;
    margin:5px;
}

.enhance{
    min-height:100px;
    max-height:1000px;
    overflow:scroll;
}

.show{
    display:block;
}

.mail:nth-child(odd){
    background-color: rgb(240,240,240);
}